# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts

# builds
dist/
build/
.turbo/
coverage/

# env
.env
.env.*
!.env.example

# supabase
supabase/.branches
supabase/.temp

# misc
.DS_Store
*.log
.vercel
.vscode/
.idea/
